# Rust build directories
target/
target_local/
# Node.js dependencies and build files
frontend/node_modules/
frontend/dist/

# Local envs / IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test snapshots & temporary helpers
contracts/verifund/test_snapshots/
update_readme.py
frontend/generate_wallets_transactions.js
frontend/submit_feedback.js
feedback_submission.log


